.doc {
  margin: 0 auto 2cm auto;
  max-width: 900px;
  width: 80%;

  & h1 { font-size: 3rem; }
  & h2 { font-size: 2rem; }
  & h3 { font-size: 1.5rem; }
  & h4 { font-size: 1.25rem; }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: #ecefe6;

    &--img {
      max-height: 40px;
    }
  }
}