<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">

  <link rel="apple-touch-icon" href="{{ site.logo }}" />
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/favicon.ico" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap">
  <link rel="stylesheet" href="/css/main.css">

  <title>{% if site.author %}{{ site.author }}{% endif %}</title>

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}" />

  <!-- Open Graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ site.author }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.logo }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.author }}">

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.compass.tagline }}">
  {% if site.twitter.site %}
  <meta name="twitter:site" content="{{ site.twitter.site }}">
  {% endif %}
  {% if site.twitter.creator %}
  <meta name="twitter:creator" content="{{ site.twitter.creator }}">
  {% endif %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image:src" content="{{ site.url }}{{ site.logo }}">

  <meta name="theme-color" content="#FFFFFF">
</head>